:root {
	--primary-color: #7289da;
	--dark-color: #141414;
    --light-color: #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--dark-color);
    height: 100vh;
}

#message-container {
    width: 80%;
    max-width: 1200px;
    /* background-color: #ccc; */
}

#message-container div {
    background-color: #ccc;
    padding: 1.2rem;
    flex-grow: 1;
    border: 1px #ccc solid;
    border-radius: 25px;
    margin: 1rem;
    font-weight: bold;
    box-shadow: 0 10px 20px 0 #a0a0a018;
}

#message-container div.otherUser {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    font-weight: bold;
}

#send-container {
    /* position: fixed; */
    padding-bottom: 2rem;
    bottom: 0;
    /* background-color: white; */
    max-width: 1200px;
    width: 50%;
    display: flex;
    height: 5.5rem;
    align-self: flex-end;
}

#message-input {
    flex-grow: 1;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    outline: 0;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
}

#send-button {
    padding: 1rem; 
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #7289da;
    font-size: 1.2rem;
    font-weight: bold;
}
